.containerBlog {
    padding: 5% 5%;
}

h1 {
    width: 98%;
    font-size: 8rem;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url('../imgs/fondohojas.jpg');
    background-size: contain;
    /* Para que todos los navegadores acepten que el fondo del texto sea una imagen */
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);
}

article {
    margin: 12% 1%;
    padding-bottom: 2%;
    border-bottom: 2px solid var(--color-principal);
}

article>img {
    width: 100%;
    border: 2px solid black;
}

article>p {
    margin-bottom: 5%;
}

article>a {
    padding: 1%;
    border: 1px solid var(--color-principal);
    margin: 2%;
}

article>a:hover {
    background-color: var(--color-principal);
}

.fotoAnimal {
    width: 100%;
}

.nombre {
    text-transform: capitalize;
    text-decoration-line: underline;
}

.galeriaFotos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
}

.encabezado {
    margin: 14% 5% 0 5%;
    width: 100%;
    border-bottom: 1px solid var(--color-principal);
    padding-bottom: 5%;
}


@media screen and (min-width: 440px) {

    .containerBlog {
        padding: 10% 5%;
        display: flex;
        flex-direction: row;
    }

    article {
        margin: 2%;
        width: 45%;
    }

    article>p {
        padding: 2%;
    }


    .galeriaFotos {
        width: 45%;

    }
}